/**
 * Responsive Utilities
 */

.mq-wrapper {
  padding-left: 300px;
  position: relative;
  min-height: 100vh;
  z-index: 1;

  @media #{$layout-laptop} {
    padding-left: 260px;
  }

  @media #{$layout-notebook} {
    padding-left: 0;
  }

  @media #{$layout-tablet} {
    padding-left: 0;
  }

  @media #{$layout-mobile-lg} {
    padding-left: 0;
  }
}

.mt-30-neg {
  margin-top: -30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50-neg {
  margin-top: -50px;
}

.mt-50 {
  margin-top: 50px;
}

.mq-padding-top {
  padding-top: 120px;

  @media #{$layout-tablet} {
    padding-top: 100px;
  }

  @media #{$layout-mobile-lg} {
    padding-top: 80px;
  }
}

.mq-padding-bottom {
  padding-bottom: 120px;

  @media #{$layout-tablet} {
    padding-bottom: 100px;
  }

  @media #{$layout-mobile-lg} {
    padding-bottom: 80px;
  }
}

.mq-section {
  position: relative;
}
